---
title: Beranda
permalink: "/"
author: Cipta Media
layout: base
---

<script>
function checkAuth(user) {
  if (!user) {
    netlifyIdentity.on("login", function() {
      document.location.href = "/formcme.html";
    });
  }

  if (user && user.user_metadata.registered) {
    $("#registercme").addClass("disabled");
    $("#registercme").html("Sudah Terdaftar!");
  }
}

$(document).ready(function(){
  if ($(window).width() < 992) {
    $("#call").appendTo("#bottom");
  }
  else {
    $("#call").appendTo("#top");
  }
  
  $("a").on('click', function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    }
  });

  var user = netlifyIdentity.currentUser();

  $("#registercme").click(function(event){
    if (!user) {
      netlifyIdentity.open();
      return false;
    }
  });

  checkAuth(netlifyIdentity.currentUser());
});

netlifyIdentity.on("init", checkAuth);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

<section id="header" class="index-banner">
    <div class="container">
        <div id="top"></div>
        <div id="call">
            <ul id="scene" class="scene" data-hover-only="true" data-relative-input="true" style="padding-left: 0">
                <li data-depth="1.00">
                    <div class="index-well-post">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-6 well text-center index-well">
                                <h2 style="line-height: 125%">Hibah dana tunai untuk merayakan keragaman pengetahuan dan ekspresi kreativitas perempuan di Indonesia</h2>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-depth-x="0.80" data-depth-y="-0.80"><div class="index-cloud"><img class="img-responsive center-block" src="/static/img/landing/CME_Aset_Cloud.png"></div></li>
                <li data-depth-x="0.60" data-depth-y="-0.20"><div class="index-leaf-blue-2"><img class="img-responsive center-block" src="/static/img/landing/CME_Aset_Leaf_Blue.png"></div></li>
                <li data-depth="0.40"><div class="index-leaf-blue-1"><img class="img-responsive center-block" src="/static/img/landing/CME_Aset_Leaf_Blue.png"></div></li>
            </ul>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div id="bottom"></div>
    </div>
</section>

<section style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center vcenter" style="margin-bottom: 40px">
                <img class="img-responsive center-block" src="/static/img/landing/logo-ekspresi-typo.png">
            </div><!--
            --><div class="col-md-8 vcenter">
                <p style="font-size: 1.2em; line-height: 1.5">Cipta Media Ekspresi merupakan hibah untuk perempuan pelaku kebudayaan di segala bidang seni. Hibah dapat digunakan untuk membuat, mengkaji, melakukan perjalanan serta membantu perempuan mencipta atau menampilkan karya.</p>
                <p style="font-size: 1.2em; line-height: 1.5">Karya dapat berupa ciptaan asli, kajian, pemilihan benda-benda untuk dipamerkan atau diarsipkan dengan maksud mempertunjukkan atau berbagi.</p>
                <p style="font-size: 1.2em; line-height: 1.5">Jumlah total dana hibah Cipta Media Ekspresi adalah 3,5 milyar rupiah bagi proyek yang dapat diselesaikan sebelum 28 Februari 2019.</p>
                <a class="index-link" href="/ciptamediaekspresi/tentang-ekspresi" style="font-size: 1.2em; line-height: 1.5">Selengkapnya</a>
            </div>
        </div>
    </div>
</section>

<section style="margin-top: 100px">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-2 col-md-offset-1 text-center">
                <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/kategori-ekspresi" class="round-button"><b>Kategori</b></a></div></div>
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/timeline-ekspresi" class="round-button"><b>Linimasa</b></a></div></div>
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/juri-ekspresi" class="round-button"><b>Dewan Juri</b><br><b>& Panitia</b></a></div></div>
            </div>
            <div class="col-xs-6 col-md-2 text-center">
                <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/syarat-ekspresi" class="round-button"><b>Syarat &</b><br><b>Ketentuan</b></a></div></div>
            </div>
            <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-0 text-center">
                <div class="round-button"><div class="round-button-circle"><a href="/ciptamediaekspresi/faq-ekspresi" class="round-button"><b>Pertanyaan</b><br><b>Umum</b></a></div></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-5 text-center">
                <div class="round-button">
                    <div class="round-button-circle">
                        <a href="formcme.html" id="registercme">
                            <b>Formulir</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<img class="img-responsive center-block" src="/static/img/landing/CME_Aset_GirlBack_index.png">

<script>
	var scene = document.getElementById('scene');
	var parallax = new Parallax(scene);
</script>
