---
title: Evaluasi Cipta Media Seluler
layout: info
---

{% for hibahcms in site.data.hibahcms %}
	{% if hibahcms.tipe == 'konten' %}
		{% assign konten = konten | plus: 1 %}
	{% endif %}
{% endfor %}
	
{% for hibahcms in site.data.hibahcms %}
	{% if hibahcms.tipe == 'software' %}
		{% assign software = software | plus: 1 %}
	{% endif %}
{% endfor %}
	
{% for hibahcms in site.data.hibahcms %}
	{% if hibahcms.tipe == 'hardware' %}
		{% assign hardware = hardware | plus: 1 %}
	{% endif %}
{% endfor %}
	
{% for hibahcms in site.data.hibahcms %}
	{% if hibahcms.tipe == 'konten' and hibahcms.seleksi %}
		{% assign counter-konten = counter-konten | plus: 1 %}
	{% endif %}
{% endfor %}
	
{% for hibahcms in site.data.hibahcms %}
	{% if hibahcms.tipe == 'software' and hibahcms.seleksi %}
		{% assign counter-software = counter-software | plus: 1 %}
	{% endif %}
{% endfor %}
	
{% for hibahcms in site.data.hibahcms %}
	{% if hibahcms.tipe == 'hardware' and hibahcms.seleksi %}
		{% assign counter-hardware = counter-hardware | plus: 1 %}
	{% endif %}
{% endfor %}

<div class="container" style="margin-top: 70px;">
	
    <div class="row">
        <div class="col-lg-12">
            <p><small><a href="/index.html#one">Beranda</a> > <a href="proses.html">Proses Cipta Media Seluler</a> > Evaluasi</small></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Evaluasi Cipta Media Seluler</h1>
        </div>
    </div>
	
    <div class="row">
    	<div class="col-md-12">
		
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#evaluasi">Evaluasi</a></li>
			<li><a data-toggle="tab" href="#calon">Calon Penerima Hibah</a></li>
			<li><a data-toggle="tab" href="#publik">Pilihan Publik</a></li>
		</ul>

            <div class="tab-content">
                <div id="evaluasi" class="tab-pane fade in active article">		
            
                <h2>Ini Dia Pemohon Hibah yang Lolos Seleksi Awal!</h2>
                <p>Sejak 23 April 2014, tim seleksi awal Cipta Media Seluler memberikan penilaian kepada 368 ide yang diajukan pemohon hibah. Proses penilaian ini dilakukan dalam beberapa tahap. Pertama, secara terpisah, semua anggota tim seleksi awal memberikan skor pada setiap ide yang masuk. Aspek penilaian mengacu pada 6 kriteria; pemecahan masalah, inovasi, replikasi, target, kelayakan, dan keberlanjutan. Lalu skor yang dibuat oleh tim seleksi awal digabung menjadi satu. Kedua, hasil penilaian dipilah berdasarkan kategori, tema atau isu, lokasi, jenis institusi, dan teknologi yang akan digunakan. Ketiga, memilih 30 Calon Penerima Hibah untuk bertemu dengan developer dan melakukan penajaman proposal lengkap dan anggaran. Hasil dari wawancara dan pelatihan ini akan diserahkan kepada Tim Seleksi Akhir.</p>
                </div>
        
                <div id="publik" class="tab-pane fade">		
                    <h2>Pilihan Publik</h2>
                    <div class="row">	
                    {% for hibahcms in site.data.hibahcms %}
                    {% if hibahcms.publik %}
                        <div class="col-md-4">
                            <div class="col-md-12 well well-lg" style="height: 650px;">
                                <a href="{{ hibahcms.link }}"><img class="img-responsive center-block" src="{{ hibahcms.gambar }}" style="max-height: 300px;"></a>
                                <hr>
                                <a href="{{ hibahcms.link }}"><h4>{{ hibahcms.nomor }} - {{ hibahcms.judul | truncatewords: 10 }}</h4></a><br/>
                                <p>{{ hibahcms.deskripsi | truncatewords: 20 }}</p>
                                <hr>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ hibahcms.lokasi }}
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
    
                <div id="calon" class="tab-pane fade">
                    <h2>Calon Penerima Hibah</h2>
			<h3>Produksi & Penyampaian Konten</h3>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <a href="hibahcms-konten.html" class="btn btn-danger btn-lg btn-block">Pendaftar <span class="badge">{{ konten }}</span></a>
                        </div>
                        <div class="col-md-1 text-center">
                            <i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="seleksi-konten.html" class="btn btn-danger btn-lg btn-block">Seleksi Awal <span class="badge">{{ counter-konten }}</span></a>
                        </div>
                    </div>
                    <br>
                    <br>
			<h3>Piranti Lunak</h3>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <a href="hibahcms-software.html" class="btn btn-danger btn-lg btn-block">Pendaftar <span class="badge">{{ software }}</span></a>
                        </div>
                        <div class="col-md-1 text-center">
                            <i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="seleksi-software.html" class="btn btn-danger btn-lg btn-block">Seleksi Awal <span class="badge">{{ counter-software }}</span></a>
                        </div>
                    </div>
                    <br>
                    <br>
			<h3>Perangkat Keras</h3>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <a href="hibahcms-hardware.html" class="btn btn-danger btn-lg btn-block">Pendaftar <span class="badge">{{ hardware }}</span></a>
                        </div>
                        <div class="col-md-1 text-center">
                            <i class="fa fa-angle-double-right fa-3x" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-4 text-center">
                            <a href="seleksi-hardware.html" class="btn btn-danger btn-lg btn-block">Seleksi Awal <span class="badge">{{ counter-hardware }}</span></a>
                        </div>
                    </div>
                    <br>
                    <br>
                    </div>
                </div>
            </div>

		</div>
	</div>

</div>
