<section style="background-color: #efefef">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a href="https://creativecommons.org/licenses/by/4.0/deed.id">
                    <h2 style="font-weight: bold; color: #6ca59a">CIPTA MEDIA</h2>
                    <h4 style="color: #6ca59a">CC BY 4.0</h4>
                </a>
            </div>
            {% include social.html %}
        </div>
    </div>
</section>
<!-- script -->
<script src= "/static/js/bootstrap.min.js"></script>
<script src= "/static/js/material.min.js"></script>
<script src= "/static/js/material-kit.js"></script>
<script src= "/static/js/nouislider.min.js"></script>
