<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta content="{{ site.description }}" name="description">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author.name }}">
  <title>
    {% if jekyll.environment == "production" %}
        {{ site.title }}
    {% else %}
        CME #{{ site.netlify.pull_request.id }}
    {% endif %}
  </title>
  <!-- {{ site.netlify.commit }} -->
  <!-- favicon -->
  <link rel="shortcut icon" href= "/static/img/favicon.ico">

  <!-- Third-party CSS -->
  <link href= "/bower_components/normalize-css/normalize.min.css" rel="stylesheet">
  <link href= "/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href= "/bower_components/animate.css/animate.min.css" rel="stylesheet">
  <link href= "/bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href= "/static/font-mfizz/font-mfizz.css" rel="stylesheet">
  <!-- <link href="{{"bower_components/toastr/toastr.min.css"| prepend: site.baseurl }}" rel="stylesheet"> -->
  <link href= "/bower_components/jquery.gritter/css/jquery.gritter.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- <link href="{{"static/css/pygments.css"| prepend: site.baseurl }}" rel="stylesheet"> -->
  <link href= "/static/css/style.min.css" rel="stylesheet">
  <link href= "/static/css/bootstrap-year-calendar.min.css" rel="stylesheet">
  <link href= "/static/css/netlify-identity.css" rel="stylesheet">

  <!-- Third-party scripts -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  <script src= "/bower_components/jquery/dist/jquery.min.js"></script>
  <script src= "/static/js/netlify-identity-widget.js"></script>
  <!-- Repo for this widget: https://github.com/riouwa/netlify-identity-widget/tree/riou-diff -->
  <script src= "https://identity.netlify.com/v1/netlify-identity.js"></script>
  <script src= "/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src= "/bower_components/i18next/i18next.min.js"></script>
  <script src= "/bower_components/PACE/pace.min.js"></script>
  <script src= "/bower_components/wow/dist/wow.min.js"></script>
  <script src= "/static/js/bootstrap-datepicker.min.js"></script>
  <script src= "/static/js/bootstrap-year-calendar.js"></script>
  
  <!-- Custom and plugin javascript -->
  <!-- <script src="{{"static/js/inspinia.js"| prepend: site.baseurl }}"></script> -->

</head>
