@import url('https://fonts.googleapis.com/css?family=Biryani');

body, p {
  font-family: 'Barlow', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}
.title.text-center{
    margin-bottom: 50px;
}
.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}
.switch{
    margin-right: 20px;
}
#navbar-full .navbar{
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}
.space{
    height: 130px;
    display: block;
}
.space-110{
    height: 110px;
    display: block;
}
.space-50{
    height: 50px;
    display: block;
}
.space-70{
    height: 70px;
    display: block;
}
.navigation-example .img-src{
    background-attachment: scroll;
}

.navigation-example{
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    margin-top:0;
    min-height: 740px;
}
#notifications{
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
.tim-note{
    text-transform: capitalize;
}

#buttons .btn{
    margin: 0 0px 15px;
}
.space-100{
    height: 100px;
    display: block;
    width: 100%;
}

.be-social{
    padding-bottom: 20px;
/*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}
.txt-white{
    color: #FFFFFF;
}
.txt-gray{
    color: #ddd !important;
}


.parallax{
  width:100%;
  height:570px;

  display: block;
  background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;

}

.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand{
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}
.logo-container .brand-material{
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img{
    width: 100%;
}
.navbar-small .logo-container .brand{
    color: #333333;
}

.fixed-section{
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
}
.fixed-section ul li{
    list-style: none;
}
.fixed-section li a{
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}
.fixed-section li a.active{
    color: #00bbff;
}
.fixed-section.float{
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}


.parallax .parallax-image{
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.parallax .parallax-image img{
    width: 100%;
}

@media (max-width: 768px){
    .parallax .parallax-image{
         width: 100%;
         height: 640px;
         overflow: hidden;
     }
    .parallax .parallax-image img{
       height: 100%;
       width: auto;
   }
}

.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}
.social-buttons-demo .btn{
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container{
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: 100%;
}

.lightbox img{
    width: 100%;
}
.lightbox .modal-content{
    overflow: hidden;
}
.lightbox .modal-body{
    padding: 0;
}
@media screen and (min-width: 991px){
    .lightbox .modal-dialog{
        width: 960px;
    }
}
@media (max-width: 991px){
    .fixed-section.affix{
        position: relative;
        margin-bottom: 100px;
    }
}
@media (max-width: 768px){
    .btn, .btn-morphing{
        margin-bottom: 10px;
    }
    .parallax .motto{
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand{
     -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}


#images h4{
    margin-bottom: 30px;
}
#javascriptComponents{
    padding-bottom: 0;
}
#javascriptComponents .btn-raised{
    margin: 10px 5px;
}


/*      layer animation          */

.layers-container{
    display: block;
    margin-top: 50px;
    position: relative;
}
.layers-container img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  text-align: center;
}

.section-black {
  background-color: #333;
}

.animate {
  transition: 1.5s ease-in-out;
  -moz-transition: 1.5s ease-in-out;
  -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand{
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand{
    color: #333333;
}

.sharing-area{
    margin-top: 80px;
}
.sharing-area .btn{
    margin: 15px 4px 0;
    color: #FFFFFF;
}
.sharing-area .btn i{
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.sharing-area .btn-twitter{
    background-color: #55acee;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
}
.sharing-area .btn-twitter:hover{
    box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
}

.sharing-area .btn-facebook{
    background-color: #3b5998;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
}
.sharing-area .btn-facebook:hover{
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
}

.sharing-area .btn-google-plus{
    background-color: #dd4b39;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
}
.sharing-area .btn-google-plus:hover{
    background-color: #dd4b39;
    box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
}

.sharing-area .btn-github{
    background-color: #333333;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
}
.sharing-area .btn-github:hover{
    background-color: #333333;
    box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2);
}

.section-thin,
.section-notifications{
    padding: 0;
}
.section-navbars{
    padding-top: 0;
}
#navbar .navbar{
    border-radius: 0;
}
.section-tabs{
    background: #EEEEEE;
}
.section-pagination{
    padding-bottom: 0;
}
.section-download h4{
    margin-bottom: 25px;
}
.section-examples a{
    text-decoration: none;
}
.section-examples h5{
    margin-top: 30px;
}
.components-page .wrapper > .header,
.tutorial-page .wrapper > .header{
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}
.components-page .title,
.tutorial-page .title{
    color: #FFFFFF;
}

.index-well{
    background-color: white;
    color: #cc6666;
    margin-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
    border: white;
    border-radius: 0px;
}

.index-cloud{
    transform: scale(0.7, 0.7);
    position: relative;
    top: -20px;
}
.index-leaf-blue-1{
        transform: rotate(7deg) scale(0.25, 0.25);
        position: relative;
        top: 2vh;
        left: 22vh;
}
.index-leaf-blue-2{
    transform: rotate(-7deg) scale(0.18, 0.18) scaleX(-1);
    position: relative;
    top: 10vh;
    left: -17vh;
}
.index-well-post{
        padding-top: 57vh;
}
@media only screen and (max-width:960px){
    .index-well-post{
        padding-top: 70px
    }
}
@media only screen and (min-width:760px){
    .index-cloud{
        transform: scale(0.7, 0.7);
        position: relative;
        top: -8vh;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.3, 0.3);
        position: relative;
        top: -12vh;
        left: 53vh;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 3vh;
        left: -8vh;
    }
}
@media only screen and (min-width:960px){
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.3, 0.3);
        position: relative;
        top: -12vh;
        left: 54vh;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 3vh;
        left: -10vh;
    }
}
@media only screen and (min-width:1024px){
    .index-cloud{
        transform: scale(0.5, 0.5);
        position: relative;
        top: 43vmin;
        left: 120%;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.35, 0.35);
        position: relative;
        top: 45vh;
        left: 80vh;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 50vh;
        left: -13vh;
    }
}
@media only screen and (min-width:1200px){
    .index-cloud{
        transform: scale(0.5, 0.5);
        position: relative;
        top: 43vmin;
        left: 170%;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.35, 0.35);
        position: relative;
        top: 48vmin;
        left: 335%;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 50vmin;
        left: 145%;
    }
}
@media only screen and (min-width:1440px){
    .index-cloud{
        transform: scale(0.5, 0.5);
        position: relative;
        top: 43vmin;
        left: 170%;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.45, 0.45);
        position: relative;
        top: 48vmin;
        left: 335%;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 50vmin;
        left: 145%;
    }
}
@media only screen and (min-width:1600px){
    .index-cloud{
        transform: scale(0.7, 0.7);
        position: relative;
        top: 43vmin;
        left: 170%;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.45, 0.45);
        position: relative;
        top: 48vmin;
        left: 335%;
    }
    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 50vmin;
        left: 145%;
    }
}
@media only screen and (min-width:1920px){
    .index-cloud{
        transform: scale(0.7, 0.7);
        position: relative;
        top: 42vh;
        left: 80vh;
    }
    .index-leaf-blue-1{
        transform: rotate(7deg) scale(0.4, 0.4);
        position: relative;
        top: 48vh;
        left: 100vh;
    }

    .index-leaf-blue-2{
        transform: rotate(-7deg) scale(0.25, 0.25) scaleX(-1);
        position: relative;
        top: 52vh;
        left: 43vh;
    }
}

.round-button {
    width:100%;
    margin-bottom: 20px;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: #ffca5f;
}
.round-button-circle:hover {
    background:#c9a353;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:45%;
    padding-bottom:50%;
    line-height:1.3em;
    margin-top:-0.5em;
    text-align:center;
    color:#ffffff;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
a.round-button.disable {
   pointer-events: none;
   cursor: default;
   background-color: gainsboro;
}

a.index-link {
    color: #e2bc67;
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
}

.index-title {
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    color: #a14243;
}

.tentang {
    color: #17374e;
    font-size: 1.3em;
    letter-spacing: 0.025em;
    line-height: 1.5em;
}

.tentang-side {
    color: #6ca59a;
    font-size: 1.1em;
    letter-spacing: 0.02em;
    line-height: 1.4em;
}

.red-subtitle {
  text-transform: uppercase;
  color: #a14243;
}

.biryani-yellow-subtitle {
  font-family: 'Biryani', sans-serif;
  color: #e2bc67;
  text-transform: uppercase;
}

.index-banner {
  background-image: url(/static/img/landing/bg_3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

@media only screen and (max-width:1200px){
  .index-banner {
    -webkit-background-size: auto;
  }
}
